.grass-canvas {
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    bottom: 0;
}

.flaying-papy {
    position: absolute;
    width: 252px;
    height: 252px;
    bottom: -155px;
    animation: 200s linear 0s infinite fly;
    overflow: hidden;
}

@keyframes fly {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}