@{
    ViewData["Title"] = "Logs Page";
}

<div class="w-[100%] h-[100%] bg-white p-8">
    <h2 class="text-2xl font-bold mb-4">Logs Live</h2>
    <hr class="my-6">
    <div class="sm:p-7 p-4">
        <table class="w-full text-left">
            <thead>
                <tr class="text-gray-400">
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200">Request</th>
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200">Description</th>
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 hidden md:table-cell">Status</th>
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200">Time</th>
                </tr>
            </thead>
            <tbody class="text-gray-600">
                <tr>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200">
                        <div class="flex items-center">
                            <span class="w-4 mr-5 text-green-500">
                                GET
                            </span>
                            Get/Users/{id}
                        </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200">
                        <div class="flex items-center">
                            Overflow request
                        </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 md:table-cell hidden text-red-500">Failed</td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200">
                        <div class="flex items-center">
                            <div class="sm:flex hidden flex-col">
                                01.04.2020
                                <div class="text-gray-400 text-xs">09:45 AM</div>
                            </div>
                            <button class="w-8 h-8 inline-flex items-center justify-center text-gray-400 ml-auto">
                                <svg class="w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1" />
                                </svg>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
