<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Standard practices -->
    <link rel="manifest" href="site.webmanifest" asp-append-version="true" />

    <!-- Internal libraries -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- External libraries -->
    <!-- Note: File below is Tilwind's playground CDN -->
    <script src="~/lib/Tailwind/tailwind.js" asp-append-version="true"></script>
    <link rel="stylesheet" src="~/lib/Normalize/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/Polipop/polipop.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/Polipop/polipop.theme.min.css" asp-append-version="true" />

    <!-- Boilerplates -->
    <link rel="stylesheet" src="~/boilerplate/css/boilerplate-main.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="wrapper-container relative max-h-screen overflow-hidden">
        <main role="main" class="max-h-screen">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/Polipop/polipop.min.js" asp-append-version="true"></script>

    <script src="~/js/notification.js" asp-append-version="true"></script>
    <script src="~/js/binding.js" asp-append-version="true"></script>
    <script src="~/js/dom.js" asp-append-version="true"></script>
    <script src="~/js/fetch.js" asp-append-version="true"></script>
    <script src="~/js/loading.js" asp-append-version="true"></script>
    <script src="~/js/utility.js" asp-append-version="true"></script>
    <script src="~/js/confirm.js" asp-append-version="true"></script>
    <script src="~/js/exceptions.js" asp-append-version="true"></script>
    <script src="~/js/globals.js" asp-append-version="true"></script>
    <script src="~/js/storage.js" asp-append-version="true"></script>
    <script src="~/js/animation.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
