@{
    ViewData["Title"] = "Login Page";
    Layout = "_PlainLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css">
}

<div class="w-[100%] h-[100%] bg-slate-950 p-8">
    <div class="flex justify-center items-center w-[100%] h-[100%]">
        <div class="flex z-10 flex-col items-center justify-center py-8 mx-auto md:h-screen lg:py-0">
            <div class="text-white uppercase space-crusaders-font text-xl">
                I'm sorry, but this action is strictly off-limits, my Wookiee friend. You lack the necessary clearance to make such a move.
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/Sketch/sketch.min.js"></script>
    <script src="~/js/views/login.js"></script>
}