@{
    ViewData["Title"] = "Login Page";
    Layout = "_PlainLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css">
}

<div class="w-[100%] h-[100%] bg-slate-950 p-8">
    <div class="flex justify-center items-center w-[100%] h-[100%]">
        <div class="flex z-10 flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-lg xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <div class="pt-2 pb-4 py-4 text-center border-b">
                        <h1 class="text-xl font-bold leading-none">
                            <img class="aspect-w-12 aspect-h-9" src="~/imgs/logo_plain.png" />
                        </h1>
                    </div>
                    <form class="space-y-4 md:space-y-6" method="post" action="@Url.Action("Authenticate", "Account")">
                        <div>
                            <label for="identifier" class="block mb-2 text font-bold text-gray-900">Your email</label>
                            <input type="email" name="identifier" id="identifier" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" placeholder="name@domain.com" required>
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text font-bold text-gray-900">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" required>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-gray-300">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-gray-500">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="w-full text-white bg-slate-900 hover:bg-slate-950 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/Sketch/sketch.min.js"></script>
    <script src="~/js/views/login.js"></script>
}